### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.~SaaS Analysis__2214.twbr
SaaS Analysis.twb
.~SaaS Analysis__17938.twbr